TC2_SQL_PASSWORD=<sql-password>
TC2_RABBITMQ_USERNAME=<rabbitmq-username>
TC2_RABBITMQ_PASSWORD=<rabbitmq-password>
TC2_JWT_KEY=<jwt-key-with-at-least-32-bytes>
TC2_ADMIN_EMAIL=admin@fcg.local
TC2_ADMIN_PASSWORD=<admin-password>

TC2_USERS_PORT=18080
TC2_CATALOG_PORT=18081
TC2_PAYMENTS_PORT=18082
TC2_NOTIFICATIONS_PORT=18083
TC2_RABBITMQ_PORT=5672
TC2_RABBITMQ_MANAGEMENT_PORT=15672
TC2_SQL_PORT=14333
